.calculadora {
    width: 250px;
    margin: 50px auto;
    background-color: aqua;
}

#display {
    width: 97%;
    height: 50px;
    font-size: 20px;
    text-align: right;
}

table {
    width: 100%;
}

button {
    width: 100%;
    height: 50px;
    font-size: 20px;
}